body {
  background-color: rgb(192, 183, 172);
}
.App {
  text-align: center;
}

h1 {
  color: blue;
  display: flex;
  justify-content: center;
}

.searchbar {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding-right: 2rem;
  margin-right: 0.5rem;
  border: none;
}

.loading {
  display: flex;
  justify-content: center;
}
.prev {
  margin-left: 2rem;
  margin-right: 0.5rem;
  border: none;
}
.next {
  margin-right: 0.5rem;
  border: none;
}
.page {
  margin-right: 0.5rem;
  background-color: rgb(35, 226, 226);
  padding: 1rem;
}
.search {
  padding: 1rem;
  border: none;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
